<!doctype html>
<html>
<head>
  {% extends "base.html" %}
  {% load static %}
  {% block content %}
<meta charset="utf-8">
<title>About Us</title>
<link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
</body>
</html>
<div class="about-section">
  <h1>About Us</h1>
  <p>Solarclips is a social website that allows friends to connect over movies and purchase movie tickets.</p>
  <p></p>
</div>

<div class="container-fluid min-vh-100 d-flex flex-column bgImage">
  <h2 class="orange-text"  style="color: orange; text-align:center"><strong>Our Team</strong></h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'Images/herc.png' %}" alt=" " style="width:100%">
      <div class="container">
        <h2>Izzy</h2>
        <p class="title">Computer Science</p>
        <p class="title">Sophmore</p>
        <p class="title"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'Images/herc.png' %}" alt=" " style="width:100%">
      <div class="container">
        <h2>Elijah</h2>
        <p class="title">Computer Science</p>
        <p class="title">Junior</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'Images/herc.png' %}" alt=" " style="width:100%">
      <div class="container">
        <h2>Adittya</h2>
        <p class="title">Computer Science</p>
        <p class="title">Junior</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card">
      <img src="{% static 'Images/herc.png' %}" alt=" " style="width:100%">
      <div class="container">
        <h2>Mei</h2>
        <p class="title">Computer Science</p>
        <p class="title">Freshman</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}