<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<head> 
    <div class="container-fluid min-vh-100 d-flex flex-column bgImage">
        <div class="container-fluid min-vh-100 d-flex flex-column">
			<div class="slider-frame">
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/buzzz.png' %}">
									</a>
                </div>
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/dr.png' %}">
									</a>
                </div>
                <div class="img-container">
										<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/minion.png' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/parasite.jpeg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/irong.jpeg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/coraline.jpeg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/avengers.png' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/despicable.jpg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/monster.jpg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/interstellar.jpeg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/aladdin.jpeg' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/herc.png' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/monster.jpg' %}">
									</a>
                </div>
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/minion.png' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/minion.png' %}">
									</a>
                </div>	
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/minion.png' %}">
									</a>
                </div>
                <div class="img-container">
									<a href="{% url 'reservation' %}">
                    <img src="{% static 'Images/minion.png' %}">
									</a>
                </div>						
			</div>		
			<div class="slider-frame">
					<div class="img-container">
						<img src="{% static 'Images/buzzz.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/dr.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/parasite.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/irong.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/coraline.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/avengers.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/despicable.jpg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/monster.jpg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/interstellar.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/aladdin.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/herc.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/monster.jpg' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>						
			</div>	
			<div style="text-align: center;">
				<a href="{% url 'more' %}">
				<button style="padding-top: 15;">More!</button>
				</a>
			</div>			
		</div>
		
	</div>
</body>
</html>
{%endblock content %}
