<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<head> 
    <div class="container-fluid min-vh-100 d-flex flex-column bgImage">
        <div class="container-fluid min-vh-100 d-flex flex-column">
			<div class="slider-frame">
				<div class="slide-images">
					<div class="img-container">
						<img src="{% static 'Images/buzzz.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/dr.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/parasite.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/irong.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/coraline.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/avengers.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/despicable.jpg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/monster.jpg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/interstellar.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/aladdin.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/herc.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/monster.jpg' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>						
				</div>
			</div>		
			<div class="slider-frame">
				<div class="slide-images">
					<div class="img-container">
						<img src="{% static 'Images/buzzz.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/dr.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/parasite.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/irong.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/coraline.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/avengers.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/despicable.jpg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/monster.jpg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/interstellar.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/aladdin.jpeg' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/herc.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/monster.jpg' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>	
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>
					<div class="img-container">
						<img src="{% static 'Images/minion.png' %}">
					</div>						
				</div>
			</div>				
		</div>
		
	</div>

</body>
</html>
{%endblock content %}
